<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rax.autostabilizer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <!--Temp-->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--splashActivity-->
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--StabilizerList-->
        <activity android:name=".Activities.StabilizerListActivity"
            android:screenOrientation="portrait">
        </activity>

        <!--StabilizerStatus-->
        <activity android:name=".Activities.StabilizerStatusActivity"
            android:screenOrientation="portrait">
        </activity>

        <!--StabilizerSchedule-->
        <activity android:name=".Activities.ScheduleActivity"
            android:screenOrientation="portrait">
        </activity>

        <service android:name=".Utilities.S_Communication" />
    </application>
</manifest>